Repository a10pepo/EDEM_MDA2526, pull requests merged in 2025-10, with the labels that each got.

#1 Creacion de README y de carpeta
  ALUMNOS/MIA/Raul_Aragall/README.MD
Labels: entregable

#5 adamgdaniel_folder_creation
  ALUMNOS/MDAA/DANIEL_ADAM/README.md
Labels: entregable

#4 folder creation
  ALUMNOS/MIA/JAVIER_LOPEZ/README.md
Labels: entregable

#27 added my name
  ALUMNOS/MIA/JAVIER_GRACIA/README.md
Labels: entregable

#10 primer commit entregable
  ALUMNOS/MIA/SILVIA_PLA/README.md
Labels: entregable

#11 ANTONIO_NAVARRO
  ALUMNOS/MIA/ANTONIO_NAVARRO/README.md
Labels: entregable

#9 Presentación
  ALUMNOS/MDAA/CELIA_SARRIO/README.md
Labels: entregable

#17 Redme Ignacio Benlloch
  ALUMNOS/MIA/IGNACIO_BENLLOCH/README.md
Labels: entregable

#16 Carpeta alumno
  ALUMNOS/MIA/FLOR_SASTRE/README.md
Labels: entregable

#35 readme pau
  ALUMNOS/MDAA/PAU_GARCIA/README.md
Labels: entregable

#24 carpeta
  ALUMNOS/MIA/ALEJANDRO_MORENO/README.md
Labels: entregable

#8 Primer entregable
  ALUMNOS/MIA/PAOLA_REGUERA/README.md
Labels: entregable

#37 Carpeta_Carlos
  ALUMNOS/MIA/CARLOS_SEVILLANO/README.md
Labels: entregable

#32 Carpeta personal creada
  ALUMNOS/MIA/FELIX_ORTUNO/README.md
Labels: entregable

#29 Carpeta Marina
  ALUMNOS/MDAA/MARINA_LOPEZ/README.md
Labels: entregable

#26 Inaki buj
  ALUMNOS/MDAA/INAKI_BUJ/README.md
Labels: entregable

#3 Carpeta Javi Plaza
  ALUMNOS/MDAA/JAVIER_PLAZA/README.md
Labels: entregable

#2 First Commit
  ALUMNOS/MIA/ENRIQUE_JAVALOYES/README.md
  ALUMNOS/MIA/MARTA_SOLER_EBRI/README.md
Labels: entregable

#39 README.md
  ALUMNOS/MDAA/INAKI_BUJ/README.md
Labels: entregable

#40 Add Aisha's introductory README
  ALUMNOS/MDAB/AISHA_DELTIO/README.md
Labels: entregable

#45 Create README.md Para mi perfil de alumno!
  ALUMNOS/MDAB/GERMAN_DEVIS/README.md
Labels: entregable

#52 Create README.md
  ALUMNOS/MDAB/PABLO_SANCHEZ/README.md
Labels: entregable

#48 Create my folder in ALUMNOS
  ALUMNOS/MDAB/MIGUEL_NAVARRO/README.md
Labels: entregable

#54 CARLOS_GIL
  ALUMNOS/MDAB/CARLOS_GIL/README.md
Labels: entregable

#44 PENDIENTE_ALVARO_GIMENEZ
  ALUMNOS/MDAB/ALVARO_GIMENEZ/README.md
Labels: entregable

#50 Readme
  ALUMNOS/MDAB/MARTHA_SEGURA/README.md
Labels: entregable

#49 Saul Martinez
  ALUMNOS/MDAB/SAUL_MARTINEZ/README.md
  ALUMNOS/MDAB/SAUL_MARTINEZ/image.png
Labels: entregable

#57 CARLA_BARAT
  ALUMNOS/MDAB/CARLA_BARAT/README.md
Labels: entregable

#42 Feature/SERGIO_MARCO
  ALUMNOS/MDAB/SERGIO_MARCO/README.md
Labels: entregable

#55 Añado README
  ALUMNOS/MDAB/JAVIER_AGUADO/README.md
Labels: entregable

#70 DEMO
  ALUMNOS/MDAB/MIGUEL_NAVARRO/DEMO/Miguelotti.md
Labels: entregable, DEMO

#74 demo
  ALUMNOS/MDAB/SAUL_MARTINEZ/DEMO/DEMO.txt
  ALUMNOS/MDAB/SAUL_MARTINEZ/DEMO/image.png
Labels: entregable, DEMO

#76 DEMO_CARLA_BARAT
  ALUMNOS/MDAB/CARLA_BARAT/DEMO/DEMO_CARLA.md
Labels: entregable, DEMO

#63 Comit_Alvaro_Demo
  ALUMNOS/MDAB/ALVARO_GIMENEZ/DEMO/xxx.md
Labels: entregable, DEMO, LINUX

#82 Create DEMO.MD
  ALUMNOS/MDAB/JAVIER_AGUADO/DEMO/DEMO.MD
Labels: entregable, DEMO

#66 Hola, este es mi primer entregable: DEMO.md
  ALUMNOS/MDAB/GERMAN_DEVIS/DEMO/DEMO.md
Labels: entregable, DEMO

#68 Creacion de directorio DEMO =)
  ALUMNOS/MDAB/FRANCISCO_ALVAREZ_V/DEMO/Ejemplo.md
Labels: entregable, DEMO

#72 Create demo.md
  ALUMNOS/MDAB/NOELIA_ANDRADE/DEMO/demo.md
Labels: entregable, DEMO

#78 Elena demo
  ALUMNOS/MDAB/ELENA_MARIN/DEMO/ELENADEMO.md
Labels: entregable, DEMO

#77 DEMO_RAFA_MORATA
  ALUMNOS/MDAB/RAFA_MORATA/DEMO/DEMO.md
Labels: entregable, DEMO

#64 Demo Martha
  ALUMNOS/MDAB/MARTHA_SEGURA/DEMO/martha.md
Labels: entregable, DEMO

#71 Agrege carpeta NUEVA
  ALUMNOS/MDAB/RICARDO_EDREIRA_PENAS/DEMO/FDEMO.md
Labels: entregable, DEMO

#69 Aisha demo
  ALUMNOS/MDAB/AISHA_DELTIO/DEMO/AISHA_ENTREGABLE
Labels: entregable, DEMO

#67 Create DEMO.md
  ALUMNOS/MDAB/PABLO_SANCHEZ/DEMO/DEMO.md
Labels: entregable, DEMO

#60 Creamos el archivo de prueba dentro de la carpeta DEMO
  ALUMNOS/MDAB/SERGIO_MARCO/DEMO/Prueba_Eliminar.md
Labels: entregable, DEMO

#88 PRIMER ENTREGABLE LINUX
  ALUMNOS/MDAB/SAUL_MARTINEZ/LINUX/README.md
Labels: entregable, LINUX
